.background-blue {
    background-color: #E0F2F1;
}
.center {
    text-align: center;
}
.textright {
    text-align: right;
}
.invisible {
    invisibility: hidden;
}
.btn-fab {
    z-index: 1;
    position: relative;
    left: 50%;
    top: -50%;
}
h1 {
    font-size: 400%;
}
h4 {
    font-size: 80%;
}
h6 {
    font-size: 50%;
}
.cards-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1contain;
    height: 90%;
}

@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 140%;
    }
    h3 {
        font-size: 100%;
    }
    div.tsc_pricingtable03 div.caption_column {
        font-size: 70%;
    }
}
