.background-blue {
    background-color: #90CAF9;
}
.center {
    text-align: center;
}
.textright {
    text-align: right;
}
.invisible {
    invisibility: hidden;
}
.btn-fab {
    z-index: 1;
    position: relative;
    left: 50%;
    top: -50%;
}
