.tsc_clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.tsc_clear { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}

/* PRICING TABLE STYLE 3 */

div.tsc_pricingtable03 { margin-bottom:24px; width:100%; height:100%; font-family:Calibri,Arial, sans-serif; font-weight:normal; color:#333; line-height:normal !important;}
div.tsc_pricingtable03 a { color:#333; text-decoration:none; }
div.tsc_pricingtable03 ul { margin:0px; padding:0px !important; list-style-type:none !important;}
div.tsc_pricingtable03 li { margin:0px; padding:0px !important; list-style-type:none !important;}
div.tsc_pricingtable03 .align_center { text-align:center;}
div.tsc_pricingtable03 .radius3 { border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
div.tsc_pricingtable03 .radius5_topleft { border-radius:5px 0px 0px 0px; -webkit-border-top-left-radius:5px; -moz-border-radius-topleft:5px;}
div.tsc_pricingtable03 .radius5_topright { border-radius:0px 5px 0px 0px; -webkit-border-top-right-radius:5px; -moz-border-radius-topright:5px;}

.tsc_pricingtable03 .pricing_yes {

background:url("../img/yes.png") center top no-repeat; 
}
.tsc_pricingtable03 .pricing_no {
	background:url("../img/no.png") center top no-repeat; 
}

div.tsc_pricingtable03 h1,
div.tsc_pricingtable03 h2,
div.tsc_pricingtable03 h3 { margin:1px; padding:1px !important; font-weight:normal !important; border:0 !important; line-height:normal !important;}
div.tsc_pricingtable03 h1 { font-size:42px;}
div.tsc_pricingtable03 h1 span { font-size:49px;}
div.tsc_pricingtable03 h2 { font-size:28px;}
div.tsc_pricingtable03 h3 { font-size:12px;}


div.tsc_pricingtable03 div.caption_column li.header_row_1,
div.tsc_pricingtable03 div.column_1 li.header_row_1,
div.tsc_pricingtable03 div.column_2 li.header_row_1,
div.tsc_pricingtable03 div.column_3 li.header_row_1,
div.tsc_pricingtable03 div.column_4 li.header_row_1 { height:45px; width:100%; padding:3px 0px 0px 0px !important;}
div.tsc_pricingtable03 div.caption_column li.header_row_2,
div.tsc_pricingtable03 div.column_1 li.header_row_2,
div.tsc_pricingtable03 div.column_2 li.header_row_2,
div.tsc_pricingtable03 div.column_3 li.header_row_2,
div.tsc_pricingtable03 div.column_4 li.header_row_2 { height:100px; width:100%; padding:3px 0px 7px 0px !important;}
div.tsc_pricingtable03 div.caption_column li.header_row_2 { height:72px; width:100%; padding:32px 0px 6px 10px !important;}


div.tsc_pricingtable03 div.caption_column { width:43%; height:100%; float:left;}
div.tsc_pricingtable03 div.column_1 { width:23%; height:100%; float:left; position:relative;}
div.tsc_pricingtable03 div.column_2 { width:23%; height:100%; float:left; position:relative;}
div.tsc_pricingtable03 div.column_3 { width:23%; height:100%; float:left; position:relative;}
div.tsc_pricingtable03 div.column_4 { width:23%; height:100%; float:left; position:relative;}


div.tsc_pricingtable03 div.column_1,
div.tsc_pricingtable03 div.column_2,
div.tsc_pricingtable03 div.column_3,
div.tsc_pricingtable03 div.column_4 { /* transitions */ -webkit-transition:box-shadow 0.1s ease; -moz-transition:box-shadow 0.1s ease; -o-transition:box-shadow 0.1s ease; -ms-transition:box-shadow 0.1s ease; transition:box-shadow 0.1s ease;}
div.tsc_pricingtable03 div.column_1:hover,
div.tsc_pricingtable03 div.column_2:hover,
div.tsc_pricingtable03 div.column_3:hover,
div.tsc_pricingtable03 div.column_4:hover { position:relative; z-index:100; left:-5px; top:-15px; /* shadow */ box-shadow:5px 0px 30px rgba(0, 0, 0, 0.5); -webkit-box-shadow:5px 0px 30px rgba(0, 0, 0, 0.5); -moz-box-shadow:5px 0px 30px rgba(0, 0, 0, 0.5);}
div.tsc_pricingtable03 div.column_1:hover li.row_style_1,
div.tsc_pricingtable03 div.column_2:hover li.row_style_1,
div.tsc_pricingtable03 div.column_3:hover li.row_style_1,
div.tsc_pricingtable03 div.column_4:hover li.row_style_1,
div.tsc_pricingtable03 div.column_1:hover li.row_style_2,
div.tsc_pricingtable03 div.column_2:hover li.row_style_2,
div.tsc_pricingtable03 div.column_3:hover li.row_style_2,
div.tsc_pricingtable03 div.column_4:hover li.row_style_2,
div.tsc_pricingtable03 div.column_1:hover li.row_style_3,
div.tsc_pricingtable03 div.column_2:hover li.row_style_3,
div.tsc_pricingtable03 div.column_3:hover li.row_style_3,
div.tsc_pricingtable03 div.column_4:hover li.row_style_3,
div.tsc_pricingtable03 div.column_1:hover li.row_style_4,
div.tsc_pricingtable03 div.column_2:hover li.row_style_4,
div.tsc_pricingtable03 div.column_3:hover li.row_style_4,
div.tsc_pricingtable03 div.column_4:hover li.row_style_4 { min-height:28px; padding-top:12px !important; padding-left:5px !important; padding-right:5px !important;}
div.tsc_pricingtable03 div.column_1:hover li.header_row_1,
div.tsc_pricingtable03 div.column_2:hover li.header_row_1,
div.tsc_pricingtable03 div.column_3:hover li.header_row_1,
div.tsc_pricingtable03 div.column_4:hover li.header_row_1 { padding-left:5px !important; padding-right:5px !important; border-radius:5px 5px 0px 0px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;}
div.tsc_pricingtable03 div.column_1:hover li.header_row_2,
div.tsc_pricingtable03 div.column_2:hover li.header_row_2,
div.tsc_pricingtable03 div.column_3:hover li.header_row_2,
div.tsc_pricingtable03 div.column_4:hover li.header_row_2 { padding-left:5px !important; padding-right:5px !important;}
div.tsc_pricingtable03 div.column_1:hover li.footer_row,
div.tsc_pricingtable03 div.column_2:hover li.footer_row,
div.tsc_pricingtable03 div.column_3:hover li.footer_row,
div.tsc_pricingtable03 div.column_4:hover li.footer_row { padding-left:5px !important; padding-right:5px !important;}

div.tsc_pricingtable03 li.row_style_1,
div.tsc_pricingtable03 li.row_style_2,
div.tsc_pricingtable03 li.row_style_3,
div.tsc_pricingtable03 li.row_style_4 { width:100%; height:100%; min-height:26px; padding-top:9px !important; float:left;}
div.tsc_pricingtable03 li.row_style_1 span,
div.tsc_pricingtable03 li.row_style_2 span,
div.tsc_pricingtable03 li.row_style_3 span,
div.tsc_pricingtable03 li.row_style_4 span { padding-left:10px !important; padding-right:10px !important;}
div.tsc_pricingtable03 li.row_style_1 { background-color:#ffffff; border-bottom:1px dotted #ccc;}
div.tsc_pricingtable03 li.row_style_2 { background-color:#f6f6f6; border-bottom:1px dotted #ccc;}
div.tsc_pricingtable03 li.row_style_3 { background-color:#ebebeb; border-bottom:1px dotted #ccc;}
div.tsc_pricingtable03 li.row_style_4 { background-color:#e3e3e3; border-bottom:1px dotted #ccc;}

div.tsc_pricingtable03 li.footer_row { width:100%; height:40px; padding-top:14px !important; padding-bottom:6px !important; float:left; border-bottom:1px solid #ccc; background-color:#e2e2e2; }
div.tsc_pricingtable03 a.sign_up { width:66%; height:24px; padding:6px 0px 0px 0px !important; display:block; text-align:center; margin-left:auto; margin-right:auto; text-shadow:0px 1px 0px #ffffff; border:1px solid #b5b5b5; background-color:#d8d8d8; outline:none;  background-image:linear-gradient(top, #ffffff, #efefef 1px, #d8d8d8); /* W3C */  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#d8d8d8'); /* IE5.5 - 7 */ -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#d8d8d8'); background:-ms-linear-gradient(top, #ffffff, #efefef 1px, #d8d8d8); background:-moz-linear-gradient(top, #ffffff, #efefef 1px, #d8d8d8); background:-o-linear-gradient(top, #ffffff, #efefef 1px, #d8d8d8); background:-webkit-linear-gradient(top, #ffffff, #efefef 1px, #d8d8d8);  background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(0.05, #efefef), color-stop(1, #d8d8d8)); box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); -webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); font-weight:bold;}
div.tsc_pricingtable03 a.sign_up:hover { height:24px; padding:6px 0px 0px 0px !important; text-shadow:0px 1px 0px #ffffff; border:1px solid #b5b5b5; background-color:#c9c9c9; outline:none; background-image:linear-gradient(top, #d2d2d2, #dedede 1px, #c9c9c9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#c9c9c9'); /* IE5.5 - 7 */ -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#c9c9c9'); /* IE8 */ background:-ms-linear-gradient(top, #d2d2d2, #dedede 1px, #c9c9c9); background:-moz-linear-gradient(top, #d2d2d2, #dedede 1px, #c9c9c9); background:-o-linear-gradient(top, #d2d2d2, #dedede 1px, #c9c9c9); background:-webkit-linear-gradient(top, #d2d2d2, #dedede 1px, #c9c9c9);  background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #d2d2d2), color-stop(0.05, #dedede), color-stop(1, #c9c9c9)); box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); -webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);}

.tsc_buttons2 { display:inline-block; text-decoration:none; outline:none; cursor:pointer; font:bold 12px/1em Arial, sans-serif; padding:8px 11px; color:#555; text-shadow:0 1px 0 #fff; background:#f5f5f5; background:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); background:-moz-linear-gradient(top, #f9f9f9, #f0f0f0); border:1px solid #dedede; border-color:#dedede #d8d8d8 #d3d3d3; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb; -moz-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb; box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb;}
.tsc_buttons2:hover,
.tsc_buttons2:focus { color:#555; background:#efefef; background:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9)); background:-moz-linear-gradient(top, #f9f9f9, #e9e9e9); border-color:#ccc; -webkit-box-shadow:0 2px 1px #e0e0e0, inset 0 1px 0 #fbfbfb; -moz-box-shadow:0 2px 1px #e0e0e0, inset 0 1px 0 #fbfbfb; box-shadow:0 1px 2px #e0e0e0, inset 0 1px 0 #fbfbfb;}
.tsc_buttons2:active { position:relative; top:1px; color:#555; background:#efefef; background:-webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f4f4f4)); background:-moz-linear-gradient(top, #eaeaea, #f4f4f4); border-color:#c6c6c6; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd; box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd;}
.tsc_buttons2.rounded { padding:8px 15px; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}
input.tsc_buttons2,
button.tsc_buttons2 {  *width:auto; *overflow:visible;} /* IE7 Fix */
.tsc_buttons2 img { border:none; vertical-align:bottom;}


/*  Large buttons */
.tsc_buttons2.large { padding:12px 15px; font-size:20px; font-weight:normal; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.tsc_buttons2.large.rounded { padding:12px 22px; -webkit-border-radius:23px; -moz-border-radius:23px; border-radius:23px;}

/*  Red */
.tsc_buttons2.red { background:#e6433d; background:-webkit-gradient(linear, left top, left bottom, from(#f8674b), to(#d54746)); background:-moz-linear-gradient(top, #f8674b, #d54746); border-color:#d1371c #d1371c #9f220d; color:#fff; text-shadow:0 1px 1px #961a07; -webkit-box-shadow:0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573; -moz-box-shadow:0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573; box-shadow:0 1px 2px #d6d6d6, inset 0 1px 0 #ff9573;}
.tsc_buttons2.red:hover,
.tsc_buttons2.red:focus { background:#dd3a37; background:-webkit-gradient(linear, left top, left bottom, from(#ff7858), to(#cc3a3b)); background:-moz-linear-gradient(top, #ff7858, #cc3a3b); border-color:#961a07; -webkit-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #ff9573; -moz-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #ff9573; box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #ff9573;}
.tsc_buttons2.red:active { background:#e6433d; border-color:#961a07; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #961a07; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #961a07; box-shadow:0 1px 0 #fff, inset 0 0 5px #961a07;}

/*  Black */
.tsc_buttons2.black { background:#525252; background:-webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#434343)); background:-moz-linear-gradient(top, #5e5e5e, #434343); border-color:#4c4c4c #313131 #1f1f1f; color:#fff; text-shadow:0 1px 1px #2e2e2e; -webkit-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #868686; -moz-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #868686; box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #868686;}
.tsc_buttons2.black:hover,
.tsc_buttons2.black:focus { background:#4b4b4b; background:-webkit-gradient(linear, left top, left bottom, from(#686868), to(#363636)); background:-moz-linear-gradient(top, #686868, #363636); border-color:#313131; -webkit-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #868686; -moz-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #868686; box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #868686;}
.tsc_buttons2.black:active { background:#525252; border-color:#313131; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #313131; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #313131; box-shadow:0 1px 0 #fff, inset 0 0 5px #313131;}

/*  Grey */
.tsc_buttons2.grey { background:#969696; background:-webkit-gradient(linear, left top, left bottom, from(#ababab), to(#818181)); background:-moz-linear-gradient(top, #ababab, #818181); border-color:#a0a0a0 #7c7c7c #717171; color:#fff; text-shadow:0 1px 1px #444; -webkit-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #bebebe; -moz-box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #bebebe; box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #bebebe;}
.tsc_buttons2.grey:hover,
.tsc_buttons2.grey:focus { background:#868686; background:-webkit-gradient(linear, left top, left bottom, from(#b0b0b0), to(#6f6f6f)); background:-moz-linear-gradient(top, #b0b0b0, #6f6f6f); border-color:#666 #666 #606060; -webkit-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #bebebe; -moz-box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #bebebe; box-shadow:0 0 1px #d6d6d6, inset 0 1px 0 #bebebe;}
.tsc_buttons2.grey:active { background:#909090; border-color:#606060; -webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #606060; -moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #606060; box-shadow:0 1px 0 #fff, inset 0 0 5px #606060;}


div.tsc_pricingtable03 a.tooltip { position:relative; text-decoration:none; border-bottom: 1px dotted #666;}
div.tsc_pricingtable03 a.tooltip:hover { color:#666; text-decoration:none; border-bottom: 1px dotted red;}
div.tsc_pricingtable03 a.tooltip:hover:after,
div.tsc_pricingtable03 a.tooltip:hover:before { display:block;}
div.tsc_pricingtable03 a.tooltip:before { content:attr(rel); display:block; width:140px; position:absolute; z-index:1000; bottom:150%; left:-10px; padding:5px 10px 8px 10px; text-align:left; color:#ffffff; display:none; background:#404040; /* CSS2 */ }
div.tsc_pricingtable03 a.tooltip:after { content:""; display:block; width:0; height:0; position:absolute; z-index:1000; bottom:18px; left:-2px; border-left:6px solid transparent; border-right:6px solid transparent; border-top:6px solid #404040; display:none; background:transparent;}


div.tsc_pt3_style1 h1.col1,
div.tsc_pt3_style1 h1.col2,
div.tsc_pt3_style1 h1.col3,
div.tsc_pt3_style1 h1.col4 { color: #ffffff; }
div.tsc_pt3_style1 h1 span { color: #ffffff; }
div.tsc_pt3_style1 h2.col1,
div.tsc_pt3_style1 h2.col2,
div.tsc_pt3_style1 h2.col3,
div.tsc_pt3_style1 h2.col4 { color: #ffffff; }
div.tsc_pt3_style1 h2.caption { color: #999999; }
div.tsc_pt3_style1 h2.caption span { color: #999999; }
div.tsc_pt3_style1 h3.col1,
div.tsc_pt3_style1 h3.col2,
div.tsc_pt3_style1 h3.col3,
div.tsc_pt3_style1 h3.col4 { color: #ffffff; }
div.tsc_pt3_style1 div.caption_column li.header_row_1 { border-top: 0; border-bottom: 1px solid #ffffff; background-color: #ffffff; }
div.tsc_pt3_style1 div.caption_column li.header_row_2 { border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; background-color: #ffffff; }
div.tsc_pt3_style1 div.column_1 li.header_row_1 { border-top: 0; border-bottom: 1px solid #52b5d5; background-color: #52b5d5; }
div.tsc_pt3_style1 div.column_1 li.header_row_2 { border-top: 1px solid #64c3de; border-bottom: 1px solid #64c3de; background-color: #64c3de; }
div.tsc_pt3_style1 div.column_2 li.header_row_1 { border-top: 0; border-bottom: 1px solid #3591ca; background-color: #3591ca; }
div.tsc_pt3_style1 div.column_2 li.header_row_2 { border-top: 1px solid #44a3d5; border-bottom: 1px solid #44a3d5; background-color: #44a3d5; }
div.tsc_pt3_style1 div.column_3 li.header_row_1 { border-top: 0; border-bottom: 1px solid #1f5f9f; background-color: #1f5f9f; }
div.tsc_pt3_style1 div.column_3 li.header_row_2 { border-top: 1px solid #2972b0; border-bottom: 1px solid #2972b0; background-color: #2972b0; }
div.tsc_pt3_style1 div.column_4 li.header_row_1 { border-top: 0; border-bottom: 1px solid #1a3e7b; background-color: #1a3e7b; }
div.tsc_pt3_style1 div.column_4 li.header_row_2 { border-top: 1px solid #234e8e; border-bottom: 1px solid #234e8e; background-color: #234e8e; }



